In [36]:
from nb_model import NbModel
import pandas as pd

In [42]:
generator = NbModel('anum', ['pras1', 'pras2', 'y'], 2)
generator.test()

AttributeError: 'NbModel' object has no attribute 'test'

In [40]:
model.groupby('y').count()

   pras1  pras2
y
0    415    415
1    415    415
2    415    415
3      1      1

In [33]:
model

      pras1  pras2  y
0         4      4  3
1         2      1  0
2         2      1  0
3         3      3  0
4         3      3  0
5         3      3  0
6         3      3  0
7         3      3  0
8         3      3  0
9         2      3  0
10        2      3  0
11        2      3  0
12        3      2  1
13        3      2  1
14        3      2  1
15        3      2  1
16        3      2  0
17        3      2  0
18        1      1  0
19        1      1  0
20        1      1  0
21        1      2  1
22        1      2  1
23        1      2  1
24        3      3  0
25        3      3  0
26        2      3  0
27        2      3  0
28        2      1  0
29        2      1  0
...     ...    ... ..
1216      1      2  2
1217      3      2  2
1218      3      2  2
1219      2      3  2
1220      2      3  2
1221      3      2  2
1222      2      3  2
1223      2      3  2
1224      3      2  2
1225      3      2  2
1226      3      2  2
1227      3      2  2
1228      1      2  2
1229      1      2  2
1230      3      2  2
1231      1      2  2
1232      3      2  2
1233      2      3  2
1234      3      2  2
1235      2      3  2
1236      3      2  2
1237      3      2  2
1238      2      3  2
1239      1      2  2
1240      1      3  2
1241      3      2  2
1242      3      2  2
1243      1      2  2
1244      2      3  2
1245      2      3  2

[1246 rows x 3 columns]

In [26]:
anum_df = pd.read_csv('data/anum.csv')

In [34]:
anum_df

      pras1  pras2            y
0       3.0    2.0    hati hati
1       3.0    2.0    hati hati
2       4.0    4.0    hati hati
3       4.0    4.0    hati hati
4       4.0    4.0    hati hati
5       4.0    4.0    hati hati
6       4.0    4.0    hati hati
7       4.0    4.0    hati hati
8       3.0    4.0    hati hati
9       3.0    4.0    hati hati
10      3.0    4.0    hati hati
11      4.0    3.0        lulus
12      4.0    3.0        lulus
13      4.0    3.0        lulus
14      4.0    3.0        lulus
15      4.0    3.0    hati hati
16      4.0    3.0    hati hati
17      2.0    2.0    hati hati
18      2.0    2.0    hati hati
19      2.0    2.0    hati hati
20      2.0    3.0        lulus
21      2.0    3.0        lulus
22      2.0    3.0        lulus
23      4.0    4.0    hati hati
24      4.0    4.0    hati hati
25      3.0    4.0    hati hati
26      3.0    4.0    hati hati
27      3.0    2.0    hati hati
28      3.0    2.0    hati hati
29      4.0    3.0    hati hati
...     ...    ...          ...
1215    2.0    3.0  tidak lulus
1216    4.0    3.0  tidak lulus
1217    4.0    3.0  tidak lulus
1218    3.0    4.0  tidak lulus
1219    3.0    4.0  tidak lulus
1220    4.0    3.0  tidak lulus
1221    3.0    4.0  tidak lulus
1222    3.0    4.0  tidak lulus
1223    4.0    3.0  tidak lulus
1224    4.0    3.0  tidak lulus
1225    4.0    3.0  tidak lulus
1226    4.0    3.0  tidak lulus
1227    2.0    3.0  tidak lulus
1228    2.0    3.0  tidak lulus
1229    4.0    3.0  tidak lulus
1230    2.0    3.0  tidak lulus
1231    4.0    3.0  tidak lulus
1232    3.0    4.0  tidak lulus
1233    4.0    3.0  tidak lulus
1234    3.0    4.0  tidak lulus
1235    4.0    3.0  tidak lulus
1236    4.0    3.0  tidak lulus
1237    3.0    4.0  tidak lulus
1238    2.0    3.0  tidak lulus
1239    2.0    4.0  tidak lulus
1240    4.0    3.0  tidak lulus
1241    4.0    3.0  tidak lulus
1242    2.0    3.0  tidak lulus
1243    3.0    4.0  tidak lulus
1244    3.0    4.0  tidak lulus

[1245 rows x 3 columns]

In [28]:
anum_df.groupby('y').count()

             pras1  pras2
y
hati hati      415    415
lulus          415    415
tidak lulus    415    415